@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jalnan";
  src: url(./fonts/Jalnan.ttf);
  font-display: block;
}

@font-face {
  font-family: "JalnanW";
  src: url(./fonts/Jalnan.woff);
  font-display: block;
}

@font-face {
  font-family: "JalnanGothic";
  src: url(./fonts/JalnanGothicTTF.ttf);
  font-display: swap;
}