@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jalnan";
  src: url(./fonts/Jalnan.ttf);
}

@font-face {
  font-family: "Nanum";
  src: url(./fonts/nanum.ttf);
}
