@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nanum";
  src: url(./fonts/nanum.ttf);
}

@font-face {
  font-family: "ChosunContennial";
  src: url(./fonts/ChosunCentennial.ttf);
}

@font-face {
  font-family: "KyunggiThousandYear";
  src: url(./fonts/KyunggiThousandYear.ttf);
}

@font-face {
  font-family: "SFHambaknun";
  src: url(./fonts/SFHambaknun.ttf);
}